:root {
    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
}

.grid { display: grid; }

.gap-1 { gap: var(--space-1); }
.gap-2 { gap: var(--space-2); }
.gap-3 { gap: var(--space-3); }
.gap-4 { gap: var(--space-4); }

.col-gap-1 { column-gap: var(--space-1); }
.col-gap-2 { column-gap: var(--space-2); }
.col-gap-3 { column-gap: var(--space-3); }
.col-gap-4 { column-gap: var(--space-4); }

.row-gap-1 { row-gap: var(--space-1); }
.row-gap-2 { row-gap: var(--space-2); }
.row-gap-3 { row-gap: var(--space-3); }
.row-gap-4 { row-gap: var(--space-4); }

.grid-col-2 { grid-template-columns: repeat(2, 1fr); }
.grid-col-3 { grid-template-columns: repeat(3, 1fr); }
.grid-col-4 { grid-template-columns: repeat(4, 1fr); }
.grid-col-6 { grid-template-columns: repeat(6, 1fr); }
.grid-col-8 { grid-template-columns: repeat(8, 1fr); }
.grid-col-9 { grid-template-columns: repeat(9, 1fr); }
.grid-col-12 { grid-template-columns: repeat(12, 1fr); }

@media (min-width: 40em) {
    .sm-grid-col-2 { grid-template-columns: repeat(2, 1fr); }
    .sm-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
    .sm-grid-col-4 { grid-template-columns: repeat(4, 1fr); }
    .sm-grid-col-6 { grid-template-columns: repeat(6, 1fr); }
    .sm-grid-col-8 { grid-template-columns: repeat(8, 1fr); }
    .sm-grid-col-9 { grid-template-columns: repeat(9, 1fr); }
    .sm-grid-col-12 { grid-template-columns: repeat(12, 1fr); }
}

@media (min-width: 52em) {
    .md-grid-col-2 { grid-template-columns: repeat(2, 1fr); }
    .md-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
    .md-grid-col-4 { grid-template-columns: repeat(4, 1fr); }
    .md-grid-col-6 { grid-template-columns: repeat(6, 1fr); }
    .md-grid-col-8 { grid-template-columns: repeat(8, 1fr); }
    .md-grid-col-9 { grid-template-columns: repeat(9, 1fr); }
    .md-grid-col-12 { grid-template-columns: repeat(12, 1fr); }
}

@media (min-width: 64em) {
    .lg-grid-col-2 { grid-template-columns: repeat(2, 1fr); }
    .lg-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
    .lg-grid-col-4 { grid-template-columns: repeat(4, 1fr); }
    .lg-grid-col-6 { grid-template-columns: repeat(6, 1fr); }
    .lg-grid-col-8 { grid-template-columns: repeat(8, 1fr); }
    .lg-grid-col-9 { grid-template-columns: repeat(9, 1fr); }
    .lg-grid-col-12 { grid-template-columns: repeat(12, 1fr); }
}

@media (min-width: 88em) {
    .xl-grid-col-2 { grid-template-columns: repeat(2, 1fr); }
    .xl-grid-col-3 { grid-template-columns: repeat(3, 1fr); }
    .xl-grid-col-4 { grid-template-columns: repeat(4, 1fr); }
    .xl-grid-col-6 { grid-template-columns: repeat(6, 1fr); }
    .xl-grid-col-8 { grid-template-columns: repeat(8, 1fr); }
    .xl-grid-col-9 { grid-template-columns: repeat(9, 1fr); }
    .xl-grid-col-12 { grid-template-columns: repeat(12, 1fr); }
}

.grid-col-span-2 { grid-column: span 2; }
.grid-col-span-3 { grid-column: span 3; }
.grid-col-span-4 { grid-column: span 4; }
.grid-col-span-6 { grid-column: span 6; }
.grid-col-span-8 { grid-column: span 8; }
.grid-col-span-9 { grid-column: span 9; }
.grid-col-span-12 { grid-column: span 12; }

@media (min-width: 40em) {
    .sm-grid-col-span-2 { grid-column: span 2; }
    .sm-grid-col-span-3 { grid-column: span 3; }
    .sm-grid-col-span-4 { grid-column: span 4; }
    .sm-grid-col-span-6 { grid-column: span 6; }
    .sm-grid-col-span-8 { grid-column: span 8; }
    .sm-grid-col-span-9 { grid-column: span 9; }
    .sm-grid-col-span-12 { grid-column: span 12; }
}

@media (min-width: 52em) {
    .md-grid-col-span-2 { grid-column: span 2; }
    .md-grid-col-span-3 { grid-column: span 3; }
    .md-grid-col-span-4 { grid-column: span 4; }
    .md-grid-col-span-6 { grid-column: span 6; }
    .md-grid-col-span-8 { grid-column: span 8; }
    .md-grid-col-span-9 { grid-column: span 9; }
    .md-grid-col-span-12 { grid-column: span 12; }
}

@media (min-width: 64em) {
    .lg-grid-col-span-2 { grid-column: span 2; }
    .lg-grid-col-span-3 { grid-column: span 3; }
    .lg-grid-col-span-4 { grid-column: span 4; }
    .lg-grid-col-span-6 { grid-column: span 6; }
    .lg-grid-col-span-8 { grid-column: span 8; }
    .lg-grid-col-span-9 { grid-column: span 9; }
    .lg-grid-col-span-12 { grid-column: span 12; }
}

@media (min-width: 88em) {
    .xl-grid-col-span-2 { grid-column: span 2; }
    .xl-grid-col-span-3 { grid-column: span 3; }
    .xl-grid-col-span-4 { grid-column: span 4; }
    .xl-grid-col-span-6 { grid-column: span 6; }
    .xl-grid-col-span-8 { grid-column: span 8; }
    .xl-grid-col-span-9 { grid-column: span 9; }
    .xl-grid-col-span-12 { grid-column: span 12; }
}

.items-center { place-items: center; }
.items-end { place-items: end; }
.items-start { place-items: start; }
.items-stretch { place-items: stretch; }

.align-items-center { align-items: center; }
.align-items-end { align-items: end; }
.align-items-start { align-items: start; }
.align-items-stretch { align-items: stretch; }

.justify-items-center { justify-items: center; }
.justify-items-end { justify-items: end; }
.justify-items-start { justify-items: start; }
.justify-items-stretch { justify-items: stretch; }

.self-center { place-self: center; }
.self-end { place-self: end; }
.self-start { place-self: start; }
.self-stretch { place-self: stretch; }

.align-self-center { align-self: center; }
.align-self-end { align-self: end; }
.align-self-start { align-self: start; }
.align-self-stretch { align-self: stretch; }

.justify-self-center { justify-self: center; }
.justify-self-end { justify-self: end; }
.justify-self-start { justify-self: start; }
.justify-self-stretch { justify-self: stretch; }